p {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.navbar {
    margin-bottom: 2rem;
}

.pokemonList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pokemonFlex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 15px;
    padding: 1rem 1rem 1.5rem 1rem;
    transition: ease-in-out 0.3s;
    /* box-shadow: rgba(218, 165, 32) 0px 0px 38px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 3rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.pokemonFlex:hover {
    transition: ease-in-out 0.3s;
    /* box-shadow: rgba(218, 165, 32) 0px 0px 38px; */
    transform: scale(1.05);
}

.pokemonImage {
    width: 12rem;
    filter: drop-shadow(5px 7px 4px #686868);
    /* filter: drop-shadow(2px 3px 2px #fff) drop-shadow(4px 6px 4px #686868); */
}

.pokemonNumber {
    font-weight: 00;
    margin: 0px;
    color: #808080;
}

.pokemonName {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 0rem;
}

.pokemonType {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pill {
    border-radius: 15px;
    padding: 0.2rem 1rem;
    margin: 3px;
    /* border: 1px #686868 solid; */
}

/* span:has(.background-color-grass) {
    background-color: #9bcc50;
} */

.background-color-grass {

    background-color: #9bcc50;
    color: white;
}

.background-color-poison {
    background-color: #b97fc9;
    color: white;
}

.background-color-fire {
    background-color: #fd7d24;
    color: white;
}

.background-color-flying {
    background: linear-gradient(to bottom, #3dc7ef 50%, #bdb9b8 50% 100%);
}

.background-color-water {
    background-color: #4592c4;
    color: white;
}

.background-color-bug {
    background-color: #729f3f;
    color: white;
}

.background-color-normal {
    background-color: #a4acaf;
    color: white;
}

.background-color-rock {
    background-color: #a38c21;
    color: white;
}

.background-color-ground {
    background: linear-gradient(to bottom, #f7de3f 50%, #ab9842 50% 100%);
    color: black;
}

.background-color-psychic {
    background-color: #f366b9;
    color: white;
}

.background-color-electric {
    background-color: #eed535;
    color: white;
}

.background-color-steel {
    background-color: #9eb7b8;
    color: white;
}

.background-color-ice {
    background-color: #51c4e7;
    color: white;
}

.background-color-ghost {
    background-color: #7b62a3;
    color: white;
}

.background-color-fighting {
    background-color: #d56723;
    color: white;
}

.background-color-fairy {
    background-color: #fdb9e9;
    color: white;
}

.background-color-dragon {
    background: linear-gradient(to bottom, #53a4cf 50%, #f16e57 50% 100%);
    color: black;
}

.background-color-dark {
    background: #707070;
    color: white;
}

.pokemonConsoles {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 0.7rem;
}


.pokemonConsoleImage {
    max-width: 1.5rem;
}

@media screen and (max-height:400px) {
    .pokemonFlex {
        min-width: 173px;
    }

    .pokemonImage {
        max-width: 8rem;
    }

    .pokemonName {
        font-size: 1.25rem;
    }

    .pokemonNumber {
        font-size: .75rem;
    }

    .pokemonType {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .pill {
        font-size: .75rem;
    }

    .pokemonConsoleImage {
        max-width: 1.5rem;
    }
}