<nav class="navbar navbar-expand-md navbar-dark sticky-top" style=" background-color: #ee1515">
  <a href="#" class="navbar-brand">Professor Oak's Pokédex</a>
  <ul class="navbar-nav mr-auto">
    <li><img class="d-none d-sm-block d-md-none" height="40" id="eye" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png">
    </li>
  </ul>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-bs-toggle="collapse" data-bs-target="#expandme"></span>
  </button>
  <div class="collapse navbar-collapse" id="expandme">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link">Pokédex</a>
      <a href="#" class="nav-item nav-link">Pokémon</a>
      <a href="#" class="nav-item nav-link">Items</a>
      <a href="#" class="nav-item nav-link">Ash</a>
      <a href="#" class="nav-item nav-link">Save</a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li><img class="me-auto d-none d-md-block" height="40" id="eye" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png">
      </li>
    </ul>
  </div>

  <form id="searchForm" class="d-flex" role="search" action="/pokemon/">
    <input id="searchBar" class="form-control me-2 d-none d-md-block" id="input" type="search" placeholder="Enter Poke Number" aria-label="Search">
    <button id="searchButton" class="btn btn-dark d-none d-md-block" type="submit">Search</button>
  </form>
</nav>
<script src="/js/app.js"></script>