body {
    background-color: #8cc5ce !important;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.nav-bar {
    background-color: #F45050 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dropdown-menu-dark {
    background-color: #8cc5ce !important;
}


.customIcon {
    content: url('./imgs/pokeball.png');
    height: 20px;
    width: 20px;
    /* Other styles here */
}

.pokeball {
    max-width: 5vw;
}

.outterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemonList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 80vw;
    margin-top: 5px;
}

.pokemonFlex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 15px;
    padding: 1rem 1rem 1.5rem 1rem;
    transition: ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 3rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}


.pokemonFlex:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
}

.pokemonImage {
    width: 12rem;
    filter: drop-shadow(5px 7px 4px #686868);
}

.pokemonNumber {
    font-weight: 00;
    margin: 0px;
    color: #808080;
}

.pokemonName {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 0rem;
}

.pokemonType {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pill {
    border-radius: 15px;
    padding: 0.2rem 1rem;
    margin: 3px;
    border: 1px #68686850 solid;
    filter: drop-shadow(1.5px 3px 0.2rem rgba(0, 0, 0, 0.756));
}

span.pokemonFlex {
    background: #f3d943
}

.background-color-grass {
    background-color: #9acc50;
    color: white;
}

.background-color-poison {
    background-color: #b97fc9;
    color: white;
}


.background-color-fire {
    background-color: #fd7d24;
    color: white;
}


.background-color-flying {
    background: linear-gradient(to bottom, #3dc7ef 50%, #bdb9b8 50% 100%);
}


.background-color-water {
    background-color: #4592c4;
    color: white;
}


.background-color-bug {
    background-color: #729f3f;
    color: white;
}


.background-color-normal {
    background-color: #a4acaf;
    color: white;
}


.background-color-rock {
    background-color: #a38c21;
    color: white;
}


.background-color-ground {
    background: linear-gradient(to bottom, #f7de3f 50%, #ab9842 50% 100%);
    color: black;
}


.background-color-psychic {
    background-color: #f366b9;
    color: white;
}


.background-color-electric {
    background-color: #eed535;
    color: white;
}


.background-color-steel {
    background-color: #9eb7b8;
    color: white;
}


.background-color-ice {
    background-color: #51c4e7;
    color: white;
}


.background-color-ghost {
    background-color: #7b62a3;
    color: white;
}


.background-color-fighting {
    background-color: #d56723;
    color: white;
}


.background-color-fairy {
    background-color: #fdb9e9;
    color: white;
}


.background-color-dragon {
    background: linear-gradient(to bottom, #53a4cf 50%, #f16e57 50% 100%);
    color: black;
}

.background-color-dark {
    background: #707070;
    color: white;
}


.pokemonConsoles {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 0.7rem;
}


.pokemonConsoleImage {
    max-width: 2rem;
}


@media screen and (min-width:426px) {
    .scrollable {
        overflow-y: auto;
        height: 100vh;
    }
}

@media screen and (max-width:426px) {


    .consoleIconImage {
        margin-bottom: 10px;
        margin-right: 2px;
    }

    #filterTitles {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    #button {
        font-size: 0.9rem;
        min-width: 6.8rem;
    }

    .filter-button-group {
        margin-left: 1rem;
    }

    .pokemonFlex {
        margin-left: 0rem;
        margin-right: 0rem;
        max-width: 10rem;
    }

    .pokemonImage {
        max-width: 7rem;
    }

    .pokemonName {
        font-size: 1.25rem;
    }

    .pokemonNumber {
        font-size: .75rem;
    }

    .pokemonType {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .pill {
        font-size: .75rem;
        padding: 0.2rem 0.7rem;
        border-radius: 15px;
    }

    .pokemonConsoleImage {
        max-width: 1.6rem;
    }

    .consoleIconImage {
        margin-bottom: 10px;
        margin-right: 1px;
    }
}

.hidden {
    display: none;
}